body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 200px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1vh;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  max-width: 800px;
  width: 90%;
  text-align: center;
}
.profile{
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.profile img{
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

/* 테이블 스타일 */
table {
    width: 400px;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
}

/* 다양한 글씨 색상, 배경, 크기 */
.text1 {
    color: #2a9d8f;
    background-color: #e0f7fa;
    width: 500px;
}

.text2 {
    color: #e76f51;
    background-color: #fff3cd;
    font-style: italic;
}
.text3 {
    color: #e4feff;
    background-color: #41bdff;
    font-style: italic;
}

.large {
    font-size: 1.5em;
}
.small{
    font-size: 0.3em;
}

/* 검색엔진 이미지 링크 */
.search-logos {
    margin-top: 30px;
}
.search-logos img {
    margin-right: 10px;
}

.text_center {
  text-align: center;
}